bot {
    telegram {
        enable: true,
        apiKey: "1880942721:AAHfCynymqvbki0cejIe0nvP36J66-mv0Rk",
        chatId: "-1001459290430",
    }
}
cpg {
    php2cpg : "/home/simon/tools/php-cpg/php2cpg",
    config : "/home/simon/tools/php-cpg/main.conf",
    storageFolder : "/home/simon/tmp/cpgs/",
    maxTime : 600,
    deleteAfterUse: false,
    errorLog : "/home/simon/tmp/cpgs/cpgError.log",
    errorReport : true,
}
creator {
    worker : 1,
}
ssrf {
    worker : 4,
    command : "/home/simon/sciencystuff/ssrf/SSRFDetector/run.sh",
    parameter : "--sinks all",
    configFile : "/home/simon/sciencystuff/ssrf/SSRFDetector/cpg.config",
    resultFolder : "/home/simon/tmp/",
    maxTime : 60,
}
